{% extends "Appsecurity/padre.html" %}

{% load static %}

{% block container %}


<section class="container p-5 bg-alto">
    {% if alarmas %}

    <h2 class="display-4 fw-bolder text-center p-3">Productos Encontrados</h2>

    {% for alarma in alarmas %}

    <div class="col mb-5 card-ancho s-ancho">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{alarma.foto}}" alt="{{alarma.nombre}}" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{alarma.nombre}}</h5>
                    <!-- Product price-->
                    <p>Tipo: {{alarma.tipo}}}</p>
                    <b>Precio: ${{alarma.precio}}</b>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
            </div>
        </div>
    </div>

    {% endfor %}

    {% else %}

    <div class="bg-alto">
        <h1 class="display-4 fw-bolder text-center p-3">No existe ese producto.</h1>
    </div>
    {% endif %}

</section>


{% endblock %}